### ML Assignments

In [2]:
import pandas as pd

In [3]:
import csv

file_path = r'C:\NumpyNinja\ML classes -Project\ML Assignments\adult\adult.data'

df = pd.read_csv(file_path, delimiter=",", names=["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country","income"])

df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [5]:
df.sample(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
26859,26,Private,160300,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
10359,32,Private,183811,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,2829,0,40,United-States,<=50K
26697,49,Private,165953,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,1902,40,United-States,<=50K
17282,21,Private,45607,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
12672,24,Private,162593,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
4273,72,Private,38360,HS-grad,9,Widowed,Other-service,Unmarried,White,Female,0,0,16,United-States,<=50K
6883,57,Private,250201,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,52,United-States,<=50K
31238,27,Private,376150,Some-college,10,Married-spouse-absent,Sales,Not-in-family,White,Female,0,0,25,United-States,<=50K
31155,31,Self-emp-not-inc,44503,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29529,21,Private,199419,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32557,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32558,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32559,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
32560,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [9]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\shwet\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\shwet\anaconda3\lib\site-packages (from ucimlrepo) (2.1.4)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\shwet\anaconda3\lib\site-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\shwet\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shwet\appdata\roaming\python\python311\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shwet\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\shwet\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shwet\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from ucimlrepo import fetch_ucirepo, list_available_datasets

In [23]:
list_available_datasets()

-------------------------------------
The following datasets are available:
-------------------------------------
Dataset Name                                                                            ID
------------                                                                            --
Abalone                                                                                 1
Adult                                                                                   2
Annealing                                                                               3
Audiology (Standardized)                                                                8
Auto MPG                                                                                9
Automobile                                                                              10
Balance Scale                                                                           12
Balloons                                                                                13
Breast Cancer                                                                           14
Breast Cancer Wisconsin (Original)                                                      15
Breast Cancer Wisconsin (Prognostic)                                                    16
Breast Cancer Wisconsin (Diagnostic)                                                    17
Pittsburgh Bridges                                                                      18
Car Evaluation                                                                          19
Census Income                                                                           20
Chess (King-Rook vs. King-Pawn)                                                         22
Chess (King-Rook vs. King)                                                              23
Connect-4                                                                               26
Credit Approval                                                                         27
Japanese Credit Screening                                                               28
Computer Hardware                                                                       29
Contraceptive Method Choice                                                             30
Covertype                                                                               31
Cylinder Bands                                                                          32
Dermatology                                                                             33
Echocardiogram                                                                          38
Ecoli                                                                                   39
Flags                                                                                   40
Glass Identification                                                                    42
Haberman's Survival                                                                     43
Hayes-Roth                                                                              44
Heart Disease                                                                           45
Hepatitis                                                                               46
Horse Colic                                                                             47
Image Segmentation                                                                      50
Ionosphere                                                                              52
Iris                                                                                    53
ISOLET                                                                                  54
Lenses                                                                                  58
Letter Recognition                                                                      59
Liver Disorders                                                                         60
Lung Cancer                                                                             62
Lymphography                                                                            63
Molecular Biology (Splice-junction Gene Sequences)                                      69
MONK's Problems                                                                         70
Mushroom                                                                                73
Musk (Version 1)                                                                        74
Musk (Version 2)                                                                        75
Nursery                                                                                 76
Page Blocks Classification                                                              78
Optical Recognition of Handwritten Digits                                               80
Pen-Based Recognition of Handwritten Digits                                             81
Post-Operative Patient                                                                  82
Primary Tumor                                                                           83
Servo                                                                                   87
Shuttle Landing Control                                                                 88
Solar Flare                                                                             89
Soybean (Large)                                                                         90
Soybean (Small)                                                                         91
Challenger USA Space Shuttle O-Ring                                                     92
Spambase                                                                                94
SPECT Heart                                                                             95
SPECTF Heart                                                                            96
Tic-Tac-Toe Endgame                                                                     101
Congressional Voting Records                                                            105
Waveform Database Generator (Version 1)                                                 107
Wine                                                                                    109
Yeast                                                                                   110
Zoo                                                                                     111
US Census Data (1990)                                                                   116
Census-Income (KDD)                                                                     117
El Nino                                                                                 122
Statlog (Australian Credit Approval)                                                    143
Statlog (German Credit Data)                                                            144
Statlog (Heart)                                                                         145
Statlog (Landsat Satellite)                                                             146
Statlog (Image Segmentation)                                                            147
Statlog (Shuttle)                                                                       148
Statlog (Vehicle Silhouettes)                                                           149
Connectionist Bench (Sonar, Mines vs. Rocks)                                            151
Cloud                                                                                   155
Poker Hand                                                                              158
MAGIC Gamma Telescope                                                                   159
Mammographic Mass                                                                       161
Forest Fires                                                                            162
Concrete Compressive Strength                                                           165
Ozone Level Detection                                                                   172
Parkinsons                                                                              174
Blood Transfusion Service Center                                                        176
Communities and Crime                                                                   183
Acute Inflammations                                                                     184
Wine Quality                                                                            186
Parkinsons Telemonitoring                                                               189
Cardiotocography                                                                        193
Steel Plates Faults                                                                     198
Communities and Crime Unnormalized                                                      211
Vertebral Column                                                                        212
Bank Marketing                                                                          222
ILPD (Indian Liver Patient Dataset)                                                     225
Skin Segmentation                                                                       229
Individual Household Electric Power Consumption                                         235
Energy Efficiency                                                                       242
Fertility                                                                               244
ISTANBUL STOCK EXCHANGE                                                                 247
User Knowledge Modeling                                                                 257
EEG Eye State                                                                           264
Banknote Authentication                                                                 267
Gas Sensor Array Drift at Different Concentrations                                      270
Bike Sharing                                                                            275
Thoracic Surgery Data                                                                   277
Airfoil Self-Noise                                                                      291
Wholesale customers                                                                     292
Combined Cycle Power Plant                                                              294
Diabetes 130-US Hospitals for Years 1999-2008                                           296
Tennis Major Tournament Match Statistics                                                300
Dow Jones Index                                                                         312
Student Performance                                                                     320
Phishing Websites                                                                       327
Diabetic Retinopathy Debrecen                                                           329
Online News Popularity                                                                  332
Chronic Kidney Disease                                                                  336
Mice Protein Expression                                                                 342
Default of Credit Card Clients                                                          350
Online Retail                                                                           352
Occupancy Detection                                                                     357
Air Quality                                                                             360
Polish Companies Bankruptcy                                                             365
Dota2 Games Results                                                                     367
Facebook Metrics                                                                        368
HTRU2                                                                                   372
Drug Consumption (Quantified)                                                           373
Appliances Energy Prediction                                                            374
Website Phishing                                                                        379
YouTube Spam Collection                                                                 380
Beijing PM2.5                                                                           381
Cervical Cancer (Risk Factors)                                                          383
Stock Portfolio Performance                                                             390
Sales Transactions Weekly                                                               396
Daily Demand Forecasting Orders                                                         409
Autistic Spectrum Disorder Screening Data for Children                                  419
Autism Screening Adult                                                                  426
Absenteeism at work                                                                     445
Breast Cancer Coimbra                                                                   451
Drug Reviews (Druglib.com)                                                              461
Drug Reviews (Drugs.com)                                                                462
Superconductivty Data                                                                   464
Student Academics Performance                                                           467
Online Shoppers Purchasing Intention Dataset                                            468
Electrical Grid Stability Simulated Data                                                471
Real Estate Valuation                                                                   477
Travel Reviews                                                                          484
Travel Review Ratings                                                                   485
Facebook Live Sellers in Thailand                                                       488
Metro Interstate Traffic Volume                                                         492
Hepatitis C Virus (HCV) for Egyptian patients                                           503
Heart Failure Clinical Records                                                          519
Early Stage Diabetes Risk Prediction                                                    529
Pedestrians in Traffic                                                                  536
Cervical Cancer Behavior Risk                                                           537
Estimation of Obesity Levels Based On Eating Habits and Physical Condition              544
Rice (Cammeo and Osmancik)                                                              545
Algerian Forest Fires                                                                   547
Gas Turbine CO and NOx Emission Data Set                                                551
Apartment for Rent Classified                                                           555
Seoul Bike Sharing Demand                                                               560
Iranian Churn                                                                           563
Bone marrow transplant: children                                                        565
COVID-19 Surveillance                                                                   567
HCV data                                                                                571
Taiwanese Bankruptcy Prediction                                                         572
Myocardial infarction complications                                                     579
Student Performance on an Entrance Examination                                          582
Gender by Name                                                                          591
Productivity Prediction of Garment Employees                                            597
AI4I 2020 Predictive Maintenance Dataset                                                601
Dry Bean                                                                                602
In-Vehicle Coupon Recommendation                                                        603
Predict Students' Dropout and Academic Success                                          697
Auction Verification                                                                    713
NATICUSdroid (Android Permissions)                                                      722
Toxicity                                                                                728
DARWIN                                                                                  732
Accelerometer Gyro Mobile Phone                                                         755
Glioma Grading Clinical and Mutation Features                                           759
Multivariate Gait Data                                                                  760
Land Mines                                                                              763
Single Elder Home Monitoring: Gas and Position                                          799
Sepsis Survival Minimal Clinical Records                                                827
Secondary Mushroom                                                                      848
Power Consumption of Tetouan City                                                       849
Raisin                                                                                  850
Steel Industry Energy Consumption                                                       851
Higher Education Students Performance Evaluation                                        856
Risk Factor Prediction of Chronic Kidney Disease                                        857
Maternal Health Risk                                                                    863
Room Occupancy Estimation                                                               864
Cirrhosis Patient Survival Prediction                                                   878
SUPPORT2                                                                                880
National Health and Nutrition Health Survey 2013-2014 (NHANES) Age Prediction Subset    887
AIDS Clinical Trials Group Study 175                                                    890
CDC Diabetes Health Indicators                                                          891
Recipe Reviews and User Feedback                                                        911
Forty Soybean Cultivars from Subsequent Harvests                                        913
Differentiated Thyroid Cancer Recurrence                                                915
Infrared Thermography Temperature                                                       925
National Poll on Healthy Aging (NPHA)                                                   936
Regensburg Pediatric Appendicitis                                                       938
RT-IoT2022                                                                              942
PhiUSIIL Phishing URL (Website)                                                         967

In [12]:

  
# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
dtypes: int64(6), object(8)
memory usage: 5.2+ MB