In [1]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (0.0.7)
Requirement already satisfied: certifi>=2020.12.5 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from ucimlrepo) (2022.12.7)
Requirement already satisfied: pandas>=1.0.0 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2.0.0)
Requirement already satisfied: tzdata>=2022.7 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (1.5.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: numpy>=1.19.5 in /Users/sravanthithiruveedi/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from ucimlrepo import fetch_ucirepo
from sklearn.datasets import fetch_openml
import pandas as pd

In [4]:
#fetching the dataset from the given machine learning repository and storing it in df_Adult
Adult_dataset = fetch_openml(name="Adult", version=1) 
df_Adult = Adult_dataset.frame

In [5]:
#checking the first few rows of the dataset using head()
df_Adult.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
5,2,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,2,United-States,<=50K
6,3,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,0,Jamaica,<=50K
7,3,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,2,United-States,>50K
8,1,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,4,0,3,United-States,>50K
9,2,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,2,0,2,United-States,>50K

In [6]:
#checking the first few rows of the dataset using sample()
df_Adult.sample(n = 10, random_state = 42)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
7762,0,Private,423024,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,0,United-States,<=50K
23881,0,Private,178953,12th,8,Never-married,Sales,Own-child,White,Female,0,0,0,United-States,<=50K
30507,0,Local-gov,348986,HS-grad,9,Never-married,Handlers-cleaners,Other-relative,Black,Male,0,0,2,United-States,<=50K
28911,0,Private,218215,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,1,United-States,<=50K
19484,3,Private,244025,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Amer-Indian-Eskimo,Male,0,0,3,Puerto-Rico,<=50K
43031,1,Private,399531,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,2,United-States,<=50K
28188,2,Private,200220,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,2,United-States,<=50K
12761,0,Private,329530,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,2,Mexico,<=50K
40834,2,Private,282155,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Female,2,0,2,United-States,<=50K
27875,3,Private,202220,HS-grad,9,Married-civ-spouse,Other-service,Wife,Black,Female,1,0,1,United-States,<=50K

In [7]:
#checking the number of rows and columns in the dataset
df_Adult.shape

(48842, 15)

In [8]:
#examining the columns and their data types using info()
df_Adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  category
 1   workclass       46043 non-null  category
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  category
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  category
 6   occupation      46033 non-null  category
 7   relationship    48842 non-null  category
 8   race            48842 non-null  category
 9   sex             48842 non-null  category
 10  capitalgain     48842 non-null  category
 11  capitalloss     48842 non-null  category
 12  hoursperweek    48842 non-null  category
 13  native-country  47985 non-null  category
 14  class           48842 non-null  category
dtypes: category(13), int64(2)
memory usage: 1.4 MB